<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <style>
    #ch{
      margin-left: 50px;
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>ใบแจ้งซ่อม</title>
</head>

<body>
  <div class="row">
    <div class="col-sm-2"></div>
    <div><center><img src="logo.jpg" alt="" style="width: 500px"></center></div>
  </div>
  <br><b>วันที</b><b>       </b>่<script>

var date = new Date();
document.write(
    date.getDate() + "-" +
    (parseInt(date.getMonth())+1) + "-" +
    date.getFullYear()
);

</script></br>
<br>
<center>
  <div class="row">
    <div class="col-sm-3"></div>
      <div class="dropdown">
          <b>จากแผนก</b>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    เลือกแผนก
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>

</div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="dropdown">
  <b>ฝ่าย</b>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    เลือกฝ่าย
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="ui right labeled left icon input">
  <i class="tags icon"></i>
  <input placeholder="เพิ่ม (Job No.)" type="text">
  <a class="ui tag label">
    <b>เพิ่มรายการซ่อม (สำหรับวิศวกร)</b>
  </a>
</div>
</div>
</center>
<br>





</div>

<br>

<div class="row">
  <div class="col-sm-3"></div>
    <div class="dropdown">
  <b>ชื่อเครื่องจักร     </b>

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    เลือกเครื่องจักร
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
  <b>รหัสเครื่องจักร     </b>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    เลือกรหัสเครื่องจักร
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="dropdown">
  <b>สถานที่ตั้ง     </b>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    เลือกสถานที่ตั้ง
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</div>
<br></br>

<!---->


<br>
<div class="row">
  <div class="col-sm-3"></div>
<b>  แจ้งเพื่อ  </b>
<br>

<div id='ch'>
  <div class="checkbox">
    <label><input type="checkbox" value=""> <b>ซ่อมแซม</b> </label>
  </div>
<br>
<div class="checkbox">
  <label><input type="checkbox" value=""> <b>ปรับแก้</b></label>
</div>
<br>
<div class="checkbox">
  <label><input type="checkbox" value=""> <b>ตรวจสอบ</b> </label>
</div>

<br>
<div class="checkbox">
  <label><input type="checkbox" value=""> <b>Emergency</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
</div>
</br>
</div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
<div class="ui right labeled left icon input">
  <b> อาการที่ปรากฏ </b>
  <i class="tags icon"></i>
  <input placeholder="โปรดระบุ" type="text">
  <a class="ui tag label">

  </a>
</div>
</div>
<br></br>
<div class="row">
  <div class="col-sm-3"></div>
<b> สถานะเครื่องจักร </b>&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="checkbox">
    <label><input type="checkbox" value=""> <b>เครื่องจักรหยุดการทำงาน</b> </label>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="checkbox">
    <label><input type="checkbox" value=""> <b>เครื่องจักรกำลังทำงานอยู่</b> </label>
  </div>
<br></br>

</div>
<br>
<div class="row">
  <div class="col-sm-3"></div>
<div class="ui right labeled left icon input">
  <b>ชื่อผู้ประสานงาน</b>
  <i class="tags icon"></i>
  <input placeholder=" " type="text">
  <a class="ui tag label">
  </a>
</div>
</div>

<br></br>
<div class="row">
  <div class="col-sm-3"></div>
<div class="ui right labeled left icon input">
  <b>ลงชื่อ</b>
  <i class="tags icon"></i>
  <input placeholder=" " type="text">
  <a class="ui tag label">
    <b>ผู้แจ้งซ่อม (ตัวบรรจง) </b>
  </a>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="ui right labeled left icon input">
  <b>ลงชื่อ</b>
  <i class="tags icon"></i>
  <input placeholder=" " type="text">
  <a class="ui tag label">
    <b>พนง./หนผ./ผจก.ฝ่าย &nbsp;(ตัวบรรจง) </b>
  </a>
</div>
</div>
<br>
<div class="row">
  <div class="col-sm-5"></div>
<button type="button" class="btn btn-success">ยืนยัน</button>
</div>


</body>
</html>
