<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    </head>
    <body>

        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>

        <style>
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto;
              grid-gap: 10px;
              /*background-color: #2196F3;*/
              /*padding: 10px;*/
            }
            .grid-container > div {
              background-color: rgba(255, 255, 255, 0.8);
              /*border: 1px solid rgba(0, 0, 0, 0.8);*/
              text-align: center;
              /*padding: 20px 0;*/
              /*font-size: 5px;*/
            }
/*            .item1 {
              grid-column-start: 1;
              grid-column-end: 1.75;
            }
            .item2 {
              grid-column-start: 1.75;
              grid-column-end: 2.5;
            }*/
            .item3 {
              grid-column-start: 10Cm;
              grid-column-end: 21cm;
              font-size: 15px;
            }
            table, td, th {
                border: 1px solid black;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th {
                /*padding: 10px;*/
            }
            td {
                padding: 5px;
            }
        </style>
<div style="width: 21cm; border: 1px solid white;">
    <center><h3>ใบแจ้งซ่อม</h3></center>
    <div class="grid-container">
        <div class="item7">
                <label>วันที่</label>
                <label>....................11/3/59.......................</label>
                <br>
                <label>จาก แผนก</label>
                <label>.......PD.......</label>
                <label>ฝ่าย</label>
                <label>.......ผลิต.......</label>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="item8" style="border: 1px solid black;">
            <center>
                <label>สำหรับฝ่ายวิศวกรรม</label>
                <br>
                <label>job No.</label>
                <label>.....................................................</label>
            </center>
        </div>
    </div>
</div>
<br>
<label>========================================================================================</label>
<div style="width: 21cm; border: 1px solid white;">
    <label>ชื่อเครื่องจักร</label>
    <label>................TK0025...............</label>
    <label>รหัสเครื่องจักร</label>
    <label>................00256...............</label>
    <label>สถานที่ตั้ง</label>
    <label>............แพน3............</label>
    <br>
    <div class="grid-container">
        <div class="item8">
            <label>แจ้งเพื่อ</label>
        </div>
        <div class="item9">
            <input type="checkbox" checked>
            <label>ซ่อมแซม</label>
            <br>
            <input type="checkbox">
            <label>ปรับแก้</label>
            <br>
            <input type="checkbox" checked>
            <label>ตรวจสอบ</label>
            <br>
            <input type="checkbox">
            <label>Emergency</label>
        </div>
        <div class="item10">
            <label>อาการที่ปรากฎ</label><label>...............................................................</label>
            <br>
            <label>............................น้ำรั่ว...................................................</label>
            <br>
            <label>.........................................................................................</label>
            <br>
            <label>.........................................................................................</label>
        </div>
        <div class="item11">
            <table>
                <thead>
                    <th>เครื่องจักรชำรุด</th>
                    <th>ระบุวันที่ต้องการเสร็จ</th>
                </thead>
                <tbody>
                    <td>
                        <label>วันที่</label>
                        <label>..22/6/59..</label>
                        <br>
                        <label>เวลา</label>
                        <label>.12.00.น.</label>
                    </td>
                    <td>
                        <label>วันที่</label>
                        <label>..22/7/59..</label>
                        <br>
                        <label>เวลา</label>
                        <label>..13.00..น.</label>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <label>สถานะเครื่องจักร</label>
        <input type="checkbox" checked>
        <label>เครื่องจักรหยุดการทำงาน</label>
        <input type="checkbox">
        <label>เครื่องจักรกำลังทำงานอยู่</label>
    </div>
    <div>
        <label>ชื่อผู้ประสานงาน</label>
        <label>...............นาย ตนุภัทร บุญรักษา...........................................................</label>
        <br>
        <label>ลงชื่อ</label>
        <label>..นาย ตนุภัทร บุญรักษา..</label>
        <label>ผู้แจ้งซ่อม (ตัวบรรจง)</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>ลงชื่อ</label>
        <label>.......นาย สมศรี มีชัย.....</label>
        <label>หนง./หนผ./ผจก.ฝ่าย (ตัวบรรจง)</label>
    </div>

</div>
<br>
<label>========================================================================================</label>
<div style="width: 21cm; border: 1px solid white;">
        <div>                                                          <!-- 1 -->
            <b>สำหรับฝ่ายวิศวกรรม</b>
            <br><br>
            <label>ชื่อผู้ดำเนินการ...................................................</label>
            <label>ผู้มอบหมาย.................................................... หนผ.</label>
            <input type="checkbox">
            <label>สร้างฯ</label>
            <input type="checkbox">
            <label>ซ่อม</label>
        </div>
        <p>การเปิดงานซ่อม</p>
        <div>                                                         <!-- การเปิดงานซ่อม -->
            <div class="grid-container">
                <div class="item1">
                    <center>
                        <label>ผู้สั่งงาน / ผู้อนุมัติเปิดงาน</label>
                        <br><br>
                        <label>........................................</label>
                        <br>
                        <label>หนง. / หนผ.</label>
                    </center>
                </div>
                <div class="item2">
                    <center>
                        <label>ฝ่ายผู้ใช้เครื่องจักรอนุญาต</label>
                        <br><br>
                        <label>..........................................</label>
                        <br>
                        <label>หนง. / หนผ. /</label>
                        <br><br>
                        <label>ผจก.ฝ่าย.....................</label>
                    </center>
                </div>
                <div class="item3">
                        <table>
                                <thead>
                                  <tr>
                                    <th rowspan="2">วันที่อนุมัติเปิดงาน(ผู้สั่งงาน)</th>
                                    <th colspan="3">วันที่อนุญาตให้ซ่อมเครื่อง    (ผู้ใช้เครื่อง)</th>
                                  </tr>
                                  <tr>
                                    <th>
                                    <input type="checkbox">
                                    <label>อนุญาต</label></th>
                                    <th><input type="checkbox">
                                    <label>เลื่อนไปลงชื่อ..................</label></th>
                                  </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>วันที่....................</td>
                                    <td>วันที่....................</td>
                                    <td>วันที่....................</td>
                                </tr>
                                <tr>
                                    <td>เวลา....................</td>
                                    <td>เวลา....................</td>
                                    <td>เวลา....................</td>
                                </tr>
                                </tbody>
                        </table>
                </div>
            </div>
        </div>
        <br>
        <div class="grid-container">
            <div class="item4">
                <input type="checkbox">
                <label>ผลกระทบต่อฝ่ายต่างๆ............................................................<br>....................................................................................................</label>
            </div>
            <div class="item5">
                <input type="checkbox">
                <label>Work Permit............................................................<br>......................................................................................</label>
            </div>
        </div>
        <div class="grid-container">
            <div class="item6">
                <label>วันที่รับเอกสาร...13/6/59....</label>
            </div>
            <div class="item7">
                <label>เวลา..12.00..</label>
            </div>
            <div class="item8">
                <label>ประเมินเวลาที่ใช้ในการซ่อม......................M/D</label>
            </div>
            <div class="item9">
                <label>จำนวนเวลาที่ใช้...............ชม.</label>
            </div>
        </div>
        <div class="grid-container">
            <div class="item6">
                <label>วันที่ประเมินวัสดุ....20/6/59..</label>
            </div>
            <div class="item7">
                <label>วันที่สั่งซื้อวัสดุ...22/6/59...</label>
            </div>
            <div class="item8">
                <label>วันที่วัสดุครบพร้อมเริ่มงาน....................</label>
            </div>
            <div class="item9">
                <label>กำหนดเสร็จ...............ชม.</label>
            </div>
        </div>
        <div>
            <label>การตรวจซ่อมเครื่องจักร</label>
            <input type="checkbox" name="">
            <label>ซ่อมภายในบริษัท</label>
            <input type="checkbox" name="">
            <label>ส่งซ่อมภายนอกบริษัท</label>
        </div>
        <div>
            <label>วิเคราะห์สาเหตุ...........................................................................................................................................................................<br>...................................................................................................................................................................................................</label>
        </div>
        <div>
            <label>รายละเอียดการซ่อม...................................................................................................................................................................<br>...................................................................................................................................................................................................<br>...................................................................................................................................................................................................<br>...................................................................................................................................................................................................</label>
        </div>
        <div>
            <label>อะไหล่/วัสดุอุปกรณ์ที่ต้องใช้.....................................................................................................................................................<br>...................................................................................................................................................................................................</label>
        </div>
        <div>
            <label>ผู้ปฏิบัติงานซ่อม</label>
            <label>1)....................................................</label>
            <label>2)....................................................</label>
            <label>3)....................................................</label>
        </div>
        <div>
            <label>เริ่มดำเนินการซ่อมวันที่............................</label>
            <label>เวลา.................</label>
            <label>ซ่อมเสร็จวันที่.....................</label>
            <label>เวลา....................</label>
            <label>รวม.................ชม.</label>
        </div>
</div>
<br>
<label>========================================================================================</label>
<div style="width: 21cm; border: 1px solid white;">
    <b>การส่งมอบงาน</b>
    <br><br>
    <label>ข้อคิดเห็นเพิ่มเติม......................................................................................................................................................................</label>
    <br>
    <div>       
        <div class="grid-container">
            <div class="item4">
                <center>
                    <label>ผู้สั่งมอบงาน</label>
                    <br><br>
                    <label>........................................</label>
                    <br>
                    <label>ผู้ปฏิบัติงาน / หนง.</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
            <div class="item5">
                <center>
                    <label>ผู้รับมอบงาน</label>
                    <br><br>
                    <label>..........................................</label>
                    <br>
                    <label>หนง. / หนผ. /</label>
                    <br><br>
                    <label>ผจก.ฝ่าย.....................</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
            <div class="item6">
                <center>
                    <label>ผู้อนุมัติปิดงาน</label>
                    <br><br>
                    <label>..........................................</label>
                    <br>
                    <label>หนง. / หนผ. /</label>
                    <br><br>
                    <label>วันที่..................</label>
                    <label>เวลา...........</label>
                </center>
            </div>
        </div>
    </div>
</div>

            <br>
            <center>
            <button class="btn btn-success btn-lg">ปริ้น&กำลังดำเนินงาน</button>
            </center>
            <br><br><br>
    </body>
</html>