<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<style>
	#col1 {
    border: 2px;
    padding: 10px;
    border-radius: 5px;
	}
</style>
	<title>LOGIN</title>
</head>
<body>
			

			

			<br><br><br>
			<center><img src="logo.jpg" alt="" style="width: 500px"></center>
			<!-- <br><br><br> -->
			<div style="margin: 15px 20% 15px 25%">

				<div id="col1" class="col" style="background-color:lavender; margin: 50px 0 50px 0">
					<div class="form-group">
					<label >username</label>
					<input class="form-control" type="username" name="">
					</div>

					<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="username" name="">
					</div>
					<div>
					<center>
						<a href="/adminmenu">
						<button class="btn btn-success btn-lg">เข้าสู่ระบบ</button>
						</a>
					</center>
					</div>
				</div>
			</div>

</body>
</html>