<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<title>USER VIEW</title>
</head>
	<style>
		#myTable {
	    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    	border-collapse: collapse;
	    	width: 50%;
		}

		#myTable td, #myTable th {
	    	border: 1px solid #ddd;
	    	padding: 8px;
		}

		#myTable tr:nth-child(even){background-color: #f2f2f2;}

		#myTable tr:hover {background-color: #ddd;}

		#myTable th {
	    	padding-top: 12px;
	    	padding-bottom: 12px;
	    	text-align: left;
	    	background-color: #4CAF50;
	    	color: white;
		}
		#myInput {
	    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	    background-position: 10px 12px; /* Position the search icon */
	    background-repeat: no-repeat; /* Do not repeat the icon image */
	    width: 100%; /* Full-width */
	    font-size: 16px; /* Increase font-size */
	    padding: 12px 20px 12px 40px; /* Add some padding */
	    border: 1px solid #ddd; /* Add a grey border */
	    margin-bottom: 12px; /* Add some space below the input */
	}


	</style>
<body>
			<!-- <div class="ui grid"> -->



			<br><br><br>
			<center><img src="logo.jpg" alt="" style="width: 500px"></center>
			<!-- <br><br><br> -->
			<div style="margin: 15px 25% 15px 60%"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="ค้นหา...."></div>
			<center>
			<table id="myTable">
		  <tr>
		  	<th>Job No.</th>
		    <th>รายการแจ้ง</th>
		    <th>สถานะ</th>
		  </tr>
		  <tr>
		  	<td>PM1/61</td>
		    <td>แท้งน้ำรั่ว</td>
		    <td>รอรับเอกสาร</td>

		  </tr>
		  <tr>
		  	<td>PM2/61</td>
		    <td>วาล์วเสีย</td>
		    <td>กำลังพิจารณาซ่อม</td>

		  </tr>
		  <tr>
		  	<td>PM3/61</td>
		    <td>เครื่องกลั่นทำงานไม่ปกติ</td>
		    <td>กำลังดำเนินการซ่อม</td>

		  </tr>
		  <tr>
		  	<td>PM4/61</td>
		    <td>เครื่องจักร 1 ขัดข้อง</td>
		    <td>กำลังดำเนินการซ่อม</td>

		  </tr>
		  <tr>
		  	<td>PM4/61</td>
		    <td>เครื่องจักร 2 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>

		  </tr>
		  <tr>
		  	<td>PM5/61</td>
		    <td>เครื่องจักร 3 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>

		  </tr>
		  <tr>
		  	<td>PM6/61</td>
		    <td>เครื่องจักร 4 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>

		  </tr>
		  <tr>
		  	<td>PM7/61</td>
		    <td>เครื่องจักร 5 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>

		  </tr>
		  <tr>
		  	<td>PM8/61</td>
		    <td>เครื่องจักร 6 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>

		  </tr>
		  <tr>
		  	<td>PM9/61</td>
		    <td>เครื่องจักร 7 ขัดข้อง</td>
		    <td>ซ่อมเสร็จแล้ว</td>
		  </tr>
		</table>
		</center>
		<br>
		<br>
		<center><div class="container">
        <a href="/form">
          <button type="button" class="btn btn-success btn-lg" >แจ้งซ่อม</button>
        </a>
        <a href="/login">
          <button type="button" class="btn btn-success btn-lg">เข้าสู่ระบบ</button>
        </a>
		</div></center>
		<!-- </div> -->




</body>
	<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</html>
